/* Variables */

:root {

  /* Font-size */

  font-size: 16px;

  /* Colors */
  
  --bg:#f6f7fb;
  --surface:#ffffff;
  --card:#ffffff;
  --card2:#fbfcff;
  --stroke:rgba(10,12,20,.10);
  --text:#0e1320;
  --muted:rgba(14,19,32,.70); 
  --muted2:rgba(14,19,32,.50);
  --accent:#4f46e5;
  --good:#16a34a;
  --danger:#ef4444;

  /* Shadows */

  --shadow: 0 10px 28px rgba(16,24,40,.10);
  --shadow2: 0 8px 18px rgba(16,24,40,.08);

  /* Radius */

  --r:16px;
  --r2:20px;


  --gap:24px;
  --pad:24px;
  --max: 1320px;

}

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  background: 
    radial-gradient(900px 500px at 15% -10%, rgba(79,70,229,.12), transparent 60%),
    radial-gradient(900px 500px at 90% -5%, rgba(22,163,74,.08), transparent 55%),
    var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

a {
  text-decoration: none;
}

/* Global Container */

.global-container {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
}

  /* Header */

header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid var(--stroke);
  padding: 0 200px;
  background-color: rgba(246,247,251,.78);
  backdrop-filter: blur(10px);
}

    /* Left Side */

.header-left-side {
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo {
  height: 80px;
}

.search-bar {
  background-color: rgba(10,12,20,.03);
  border: 1px solid var(--stroke);
  border-radius: 999px;
  padding: 10px 12px;
  display: flex;
  width: 300px;
  place-items: center;
}

.search-bar > input {
  background-color: transparent;
  border: none;
  color: var(--text);
  font-weight: 650;
  outline: none;
  width: 100%;
}

    /* Right Side */

.header-right-side {
  display: flex;
  place-items: center;
  gap: 10px;
}

.header-create-button {
  padding: 10px 12px;
  border-radius: 999px;
  border: 1px solid rgba(79,70,229,.22);
  color: #1c1a52;
  font-weight: 850;
  cursor: pointer;
  transition: 0.12s ease;
  box-shadow: var(--shadow2);
}

.header-create-button:hover {
  background-color: rgba(79,70,229,.14);
  transform: translateY(-1px);
}

.header-notification-button {
  width: 42px;
  height: 42px;
  border-radius: 999px;
  border: 1px solid var(--stroke);
  cursor: pointer;
  box-shadow: var(--shadow2);
  transition: 0.12s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-notification-button:hover {
  background-color: (255,255,255,1);
  transform: translateY(-1px);
}

.header-notification-button > span {
  height: 18px;
  min-width: 18px;
  padding: 0 6px;
  background-color: rgba(239,68,68,.95);
  color: #fff;
  font-size: 11px;
  font-weight: 950;
  border: 1px solid rgba(255,255,255,.40);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-account-button {
  height: 42px;
  width: 42px;
  border-radius: 999px;
  font-weight: 850;
  border: 1px solid 1px solid var(--stroke);
  background-color: rgba(10,12,20,.04);
  box-shadow: var(--shadow2);
  color: var(--accent);
}

  /* Global Container */

.global-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

    /* Filter Bar */

.filter-bar {
  display: flex;
  justify-content: center;
  gap: 7px;
}    

.filter-button {
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 999px;
  border: 1px solid var(--stroke);
  color: var(--muted);
  background-color: rgba(255,255,255,.60);
  transition: 0.12s ease;
}

.filter-button:hover {
  border-color: rgba(79,70,229,.25);
  transform: translateY(-1px);
  background-color: rgba(79,70,229,.01);
}

.filter-button.active {
  border-color: rgba(79,70,229,.25);
  background-color: rgba(79,70,229,.10);
  color: var(--text);
}

    /* Center Container */

.center-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: var(--gap);
  align-items: flex-start;
}

      /* Side Bar */

aside {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--stroke);
  background-color: rgba(255,255,255,.75);
  border-radius: var(--r2);
  box-shadow: var(--shadow);
}

aside a {
  text-decoration: none;
}

.top-part {
  padding: 14px;
}

.sidebar-title {
  font-size: 12px;
  letter-spacing: .12em;
  text-transform: uppercase;
  color: var(--muted2);
  font-weight: 900px;
  margin: 8px 8px 22px;
} 

.nav-links-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 12px;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 850;
  transition: 0.12s ease;
  color: var(--muted);
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 10px;
}

.nav-link:hover:not(.active) {
  color: var(--text);
  background-color: rgba(10,12,20,.04);
  border: rgba(10,12,20,.06);
}

.nav-link.active {
  color: var(--text);
  background-color: rgba(79,70,229,.10);
  border-color: rgba(79,70,229,.18);
}

        /* Bottom Part */

.bottom-part {
  border-top: 1px solid var(--stroke);
  padding: 14px;
}

.tune-in-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tune-in-links > a {
  color: var(--text);
  padding: 12px 14px;
  border-radius: 14px;
  border: 1px solid var(--stroke);
  background: rgba(255,255,255,.85);
  font-weight: 900;
  box-shadow: var(--shadow2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pill {
  font-size: 12px;
  font-weight: 950;
  padding: 6px 10px;
  border-radius: 999px;
  border: 1px solid var(--stroke);
  color: var(--muted);
  background-color: rgba(10,12,20,.02);
}

.pill.good {
  border-color: rgba(22,163,74,.25);
  background: rgba(22,163,74,.10);
  color: #0f3d22;
}

.pill.focus {
  border-color: rgba(79,70,229,.22);
  background: rgba(79,70,229,.10);
  color: #1c1a52;
}

      /* Main */

main {

}

        /* Top Panels */

.top-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.panel {
  background-color: rgba(255,255,255,.75);
  border: 1px solid var(--stroke);
  border-radius: var(--r2);
  box-shadow: var(--shadow2);
  padding: 18px;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-header > div > h2 {
  font-size: 16px;
  letter-spacing: 0.2;
}

.panel-header > div > p {
  margin-top: 6px;
  color: var(--muted);
  font-size: 13px;
  font-weight: 650;
}

.panel-header > a {
  color: var(--muted);
  font-weight: 900;
  font-size: 13px;
  padding: 8px 10px;
  border-radius: 999px;
  border: 1px solid var(--stroke);
  background-color: rgba(255,255,255,.75);
  box-shadow: var(--shadow2);
}

.panel-principal-video {
  padding: 14px;
  display: grid;
  grid-template-columns: 220px 1fr;
  border-radius: var(--r);
  border: 1px solid var(--stroke);
  background-color: rgba(255,255,255,.90);
  box-shadow: rgba(255,255,255,.90);
  gap: 14px;
}

.panel-principal-video-thumbnail {
  border-radius: 14px;
  border: 1px solid rgba(10,12,20,.10);
  background: 
  radial-gradient(140px 70px at 30% 20%, rgba(79,70,229,.18), transparent 60%),
  linear-gradient(180deg, rgba(10,12,20,.05), rgba(10,12,20,.01));
  height: 124px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.panel-principal-video-description {
  display: flex;
  flex-direction: column;
}

.panel-principal-video-description > h3 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: .1px;
}

.panel-principal-video-description > span {
  margin-top: 6px;
  color: var(--muted);
  font-size: 13px;
  font-weight: 650;
}

/* Videos Container */

.videos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 15px;
}

          /* Videos */

.video-item {
  background-color: rgba(255,255,255,.75);
  border: 1px solid var(--stroke);
  box-shadow: var(--shadow);
  border-radius: var(--r2);
}

.video-thumbnail {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--r2) var(--r2) 0 0;
}

.video-title {
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.1px;
  font-weight: 950;
}

.video-item-body {
  padding: 12px 12px 14px;
  gap: 10px;
  display: grid;
  grid-template-columns: 40px 1fr;
}

.account-photo {
  width: 100%;
  border-radius: var(--r2);
}

.video-small-description {
  display: flex;
  flex-direction: column;
}

.video-small-description > span {
  margin-top: 6px;
  color: var(--muted);
  font-size: 12.5px;
  font-weight: 650;
}